# Ignore rules for GIT (github.com, bitbucket.com, etc.)

/others
/vendor
/.dn
/src_generated
/src/JPHP-INF
/src/.data
/src/.system
/src/.debug
/src/assets
/src/trofim/scripts/examples
/build
/build.xml
/build.gradle
/settings.gradle
/.gitattributes
/info versions.txt

*.log
*.pid
*.tmp
*.sourcemap
*.dnproject
