/**
 * Основной стиль AddonCraft.
 * 
 * @author TROFIM
 * @url https://github.com/TROFIM-YT/AddonCraft
 */

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
    src: url("fonts/mr.ttf");
}

@font-face { 
    src: url("fonts/mtc.ttf"); 
}

@font-face { 
    src: url("fonts/ush.otf"); 
}

/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/

.root {
    -fx-focus-color: #333333;
    -fx-faint-focus-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Text                                                                        *
 *                                                                             *
 ******************************************************************************/

.text { 
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 1, 0.0, 0, -1);
    //-fx-effect: dropshadow(one-pass-box, rgba(112, 112, 112, 1), 0, 0, 2, 2);
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 0;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

.help-tooltip .tooltip {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 0;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

/*******************************************************************************
 *                                                                             *
 * Placeholder                                                                 *
 *                                                                             *
 ******************************************************************************/

.list-placeholder {
    -fx-font-family: "Minecraft Title Cyrillic";
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 0);
}

/*******************************************************************************
 *                                                                             *
 * Scroll-Bar                                                                  *
 *                                                                             *
 ******************************************************************************/
 
.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-radius: 0em;
    -fx-border-color: transparent;
    -fx-border-radius: 0em;
}

.scroll-bar:vertical .track-background, .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-image: url('/.data/img/transparent.png');
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0em;
}

/*******************************************************************************
 *                                                                             *
 * Text-Field                                                                  *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 16px;
    -fx-font-smoothing-type: lcd;
    -fx-background-radius: 0;
    -fx-background-color: #333333;
    -fx-border-width: 3;
    -fx-border-color: #cccccc;
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Combo-box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box {
    -fx-background-radius: 0;
    -fx-background-color: #333333;
    -fx-border-width: 3;
    -fx-border-color: #cccccc;
}

.combo-box .list-cell {
    -fx-font-family: "Minecraft Rus";
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #333333;
}

.combo-box .list-cell:hover {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Scroll-Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

.scroll-pane, .scroll-pane .viewport, .scroll-pane:focused {
   -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * jfx-Tab-Pane                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 100;
    -fx-background-color: #999999;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #498fff;
}

.jfx-tab-pane .tab:selected {
    -fx-background-color: #666666;
}

.jfx-tab-pane .tab {
    -fx-background-color: #999999;
    -fx-alignment: CENTER;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-padding: 7 6 10 8;
}

/*******************************************************************************
 *                                                                             *
 * List-View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-mods .list-cell:filled:selected, .list-textures .list-cell:filled:selected, .list-shaders .list-cell:filled:selected, .list-maps .list-cell:filled:selected {
    -fx-background-image: url('/.data/img/transparent_selected.png');
    -fx-border-color: '#cccccc';
    -fx-border-width: 3;
}

.list-mods .list-cell:filled:hover, .list-textures .list-cell:filled:hover, .list-shaders .list-cell:filled:hover, .list-maps .list-cell:filled:hover {
    -fx-cursor: hand;
}

.list-mods .list-cell, .info-mod .list-cell, .list-textures .list-cell, .list-shaders .list-cell, .list-maps .list-cell {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.list-textures .list-cell:filled:selected .itemTexture-mode {
    -fx-background-color: #999999;
    -fx-opacity: 1;
}

.list-textures .list-cell:filled:selected .itemTexture-delete {
    -fx-background-color: #d10000;
    -fx-opacity: 1;
}

.list-textures .list-cell:filled:selected .itemTexture-name {
    -fx-max-width: 280;
    -fx-max-height: 30;
}

.list-textures .list-cell:filled:selected .itemTexture-description {
    -fx-max-width: 280;
    -fx-max-height: 55;
}

.list-mods .list-cell:filled:selected:hover, .list-textures .list-cell:filled:selected:hover, .list-shaders .list-cell:filled:selected:hover, .list-maps .list-cell:filled:selected:hover {
    -fx-cursor: default;
}

/*******************************************************************************
 *                                                                             *
 * Tab-Mods                                                                    *
 *                                                                             *
 ******************************************************************************/

/***************************************Item-Mod***************************************/

/*Бокс*/
.itemMod-box {
    -fx-border-radius: 0;
}

/*Название*/
.itemMod-name {
    -fx-font-family: "Minecraft Title Cyrillic";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding: 6 0 0 8;
    -fx-max-width: 310;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Версия*/
.itemMod-version {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 18px;
    -fx-text-fill: '#cccccc';
    -fx-padding: 0 0 6 8;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/***************************************Info-Mod****************************************/

/*Логотип*/
.infoMod-logo {
    -fx-alignment: CENTER;
    -fx-padding: 10 0 0 0;
}

/*Название*/
.infoMod-name {
    -fx-font-family: "Minecraft Title Cyrillic";
    -fx-font-size: 34px;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-max-width: 500;
    -fx-max-height: 1000;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 1 25;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Версия мода && Minecraft Версия && ID мода && Авторы мода*/
.infoMod-version, .infoMod-mcversion, .infoMod-modid, .infoMod-author {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-max-width: 500;
    -fx-max-height: 500;
    -fx-padding: 1 0 7 16;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Текст URL*/
.infoMod-textUrl {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-padding: 1 0 7 16;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*URL мода*/
.infoMod-url {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 24px;
    -fx-max-width: 455;
    -fx-padding: 0 0 7 2;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Описание мода*/
.infoMod-description {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-max-width: 500;
    -fx-max-height: 2500;
    -fx-padding: 25 0 7 16;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 0);
}

/********************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Tab-Textures                                                                *
 *                                                                             *
 ******************************************************************************/
 
/***************************************Form-Textures***************************************/
 
.texture-buttonUpdate {
    -fx-graphic: url('/.data/img/icon/refresh_hover-24.png');
}

.texture-buttonFolder {
    -fx-graphic: url('/.data/img/icon/folder_hover-24.png');
}

.texture-buttonAdd {
    -fx-graphic: url('/.data/img/icon/add_hover-24.png');
}
 
/********************************************************************************/
 
/***************************************Item-Texture***************************************/

/*Бокс*/
.itemTexture-box {
    -fx-border-radius: 0;
}

/*Логотип*/
.itemTexture-logo {
    -fx-alignment: CENTER;
    -fx-padding: 3 3 3 3;
}

/*Название*/
.itemTexture-name {
    -fx-font-family: "Impact";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-padding: 4 0 0 2;
    -fx-max-width: 330;
    -fx-max-height: 35;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Описание*/
.itemTexture-description {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 18px;
    -fx-text-fill: '#cccccc';
    -fx-padding: 1 0 6 2;
    -fx-max-width: 330;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Кнопка "Добавить" & Кнопка "Удалить"*/
.itemTexture-mode, .itemTexture-delete {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 14px;
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-opacity: 0;
}

/********************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Tab-Shaders                                                                 *
 *                                                                             *
 ******************************************************************************/

/***************************************List-Shaders***************************************/

.list-shaders .list-cell {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-padding: 6 0 6 0;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/********************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Tab-Maps                                                                    *
 *                                                                             *
 ******************************************************************************/
 
/***************************************Item-Map***************************************/

/*Бокс*/
.itemMap-box {
    -fx-border-radius: 0;
}

/*Логотип*/
.itemMap-logo {
    -fx-alignment: CENTER;
    -fx-padding: 5 5 5 5;
}

/*Название*/
.itemMap-name {
    -fx-font-family: "Minecraft Title Cyrillic";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-padding: 2 0 0 0;
    -fx-max-width: 650;
    -fx-max-height: 50;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Линия 1*/
.itemMap-line1 {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 20px;
    -fx-text-fill: '#cccccc';
    -fx-padding: 6 0 2 2;
    -fx-max-width: 650;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*Линия 2*/
.itemMap-line2:disabled {
    -fx-font-family: "Minecraft Rus";
    -fx-font-size: 20px;
    -fx-max-width: 650;
    -fx-max-height: 30;
    -fx-opacity: 100;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 10, 0.0, 0, 0);
}

/*******************************************************************************
 *                                                                             *
 * EditMapForm                                                                 *
 *                                                                             *
 ******************************************************************************/
 
#editNameMap {
    -fx-padding: 4 0 5 6;
}
 
#editNameMap .text {
    -fx-effect: dropshadow(one-pass-box, rgba(112, 112, 112, 1), 0, 0, 2, 2);
}

#listValue .cell {
    -fx-font-size: 16px;
    -fx-padding: 4 0 4 6;
}

#selectedValue .cell {
    -fx-font-size: 16px;
    -fx-padding: 4 0 4 5;
}