/**
 * Английский стиль AddonCraft.
 * 
 * @author TROFIM
 * @url https://github.com/TROFIM-YT/AddonCraft
 */

/*******************************************************************************
 *                                                                             *
 * MainForm (FORM)                                                             *
 *                                                                             *
 ******************************************************************************/
 
/*******************************************************************************
 * Tab-Mods                                                                    *
 ******************************************************************************/
 
 /***************************************Form***************************************/
 
.mainForm #buttonSelectMod, .mainForm #buttonUpdateMod, .mainForm #buttonDeleteMod,
    .mainForm #buttonModeMod, .mainForm #buttonOpenMod {
    -fx-font-size: 16px;
}

/*******************************************************************************
 * Tab-Shaders                                                                    *
 ******************************************************************************/
 
/***************************************Form***************************************/
 
.mainForm #buttonSelectShader, .mainForm #buttonFolderShader,
    .mainForm #buttonUpdateShader {
    -fx-font-size: 16px;
}

/*******************************************************************************
 * Tab-Maps                                                                    *
 ******************************************************************************/
 
/***************************************Form***************************************/
 
.mainForm #buttonDeleteMap, .mainForm #buttonFolderMap, .mainForm #buttonAddMap,
    .mainForm #buttonUpdateMap, .mainForm #buttonEditMap {
    -fx-font-size: 16px;
}